<%= render 'form'  %>
<% @employee_trainings.each do |employee_training| %>
	<p><%= employee_training.emp_name %><br />
	<%= employee_training.tr_name %><br />
	<%= employee_training.tdate %></p>
<% end %>
