<div id="emp_listing">
<% @employees.each do |employee| %>
	<% if employee.employee_trainings.present? %>
		<div id="indy_list">
			<p class="emp_name"><%= employee.employee_name %></p>
			<% @employee_trainings.each do |employee_training| %>
				<% if employee_training.employee_id == employee.id %>
					<p class="detail_name"><%= employee_training.tr_name %>
					<%= employee_training.tdate.strftime("(%b %y)") %><br />
				<% end %>
			<% end %>
			<br /></p>
		</div>
	<% end %>
<% end %>
</div>
<%= render 'form'  %>