<div id="supportnavi">
	<ul>
		<li><%= link_to 'my dashboard', root_path %></li>
		<li><%= link_to 'add educations', educations_path %></li>
		<li><%= link_to 'add skill-sets', skills_path %></li>
		<li><%= link_to 'add positions', positions_path %></li>
	</ul>
</div>
<div id="main_content">
	<h1>Reminder List</h1>
	<p class="task">Promote Show Page</p>
	<p class="t_detail">
		-clean up view and display education and skills for employee
	</p>
	<p class="task">Populate More Data</p>
	<p class="t_detail">
		-run process twice maybe?
	</p>
	<p class="task">Restricting Permissions</p>
	<p class="t_detail">
		-continue to mess with ACLs; default position id or exception handler;
	</p>
</div>