// Place all the styles related to the educations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ged, #bachelor, #master {
	width: 33.3%;
	float: left;
	text-align: center;
	height: 85%;
	border-bottom: 1px solid black;
	h1{
		margin: 0;
		background-color: #f95252;
		border: 1px solid black;
		padding: 10px 0 10px 0;
		width:100%;
	}
	p {
		text-align: left;
		font-size: 24px;
		margin: 10px;
	}
}
#bachelor {
	background-color: #fff;
}
#ged, #master {
	background-color: #F3F9FB;
}
#new_education {
	text-align: center;
	background-color: black;
	height: 100%;
	input[type="text"] {
		border: 1px solid black;
		width: 228px;
		height: 50px;
		font-size: 25px;
		padding-left: 5px;
		margin-top: 5px;
	}
	input[type="submit"]  {
		background-color: #33cc77;
		color: #fff;
		width: 228px;
		height: 55px;
		cursor: pointer;
		font-size: 24px;
	}
	select{
		width: 228px;
		height: 50px;
		font-size: 25px;
		padding-left: 5px;
		border: 1px solid black;
	}
}
