// Place all the styles related to the evaluations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#rating_listing {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	#rated, #received {
		width: 50%;
		height: 100%;
		float: left;
		border-top: 1px solid #fff;
		h1 {
			text-align: center;
			font-size: 26px;
			margin: 0;
			padding: 10px 0 10px 0;
			background-color: #f95252;
			width: 100%;		
		}
		p {
			font-size: 20px;
			float: left;
			width: 40%;
			margin: 10px 0 2px 60px;
		}
		.title {
			font-weight: bold;
			text-decoration: underline;
			font-size: 24px;
		}
	}
	#rated {
		background-color: #fff;
		#ratingLink {
			background-color: #33cc77;
			position:absolute; 
			bottom:10px;
			left: 125px;
			text-align: center;
			padding: 25px 50px 25px 50px;
			a {
				font-size: 22px;
				text-decoration: none;
				color: white;
			}
		}
	}
}

#evaluation {
	margin: 0;
	padding: 0;
	height: 950px;
	width: 100%;
	overflow: scroll;
	#empSelect{
		padding: 5px 0 5px 0;
		margin: 0;
		#evaluation_employee_id{
			width: 230px;
			height: 45px;
			font-size: 22px;
			padding: 0 0 0 5px;
			border: 1px solid #fff;
		}
	}
	.left, .middle, .right {
		width: 33.2%;
		height: 435px;
		float: left;
		border-bottom: 1px solid black;
	}
	.bottom {
		width: 100%;
		height: 300px;
		float: left;
		padding-bottom: 400px;
	}
	.left, .middle {
		border-right: 1px solid black;
	}
	#new_evaluation {
		background-color: #F3F9FB;
		height: 100%;
		h1 {
			text-align: center;
			font-size: 24px;
			margin: 0;
			padding: 10px 0 10px 0;
			background-color: #f95252;
			width: 100%;
		}
		#question {
			height: 125px;
			padding: 5px 0 0 0;
			clear: both;
			h3 {
				text-align: left;
				font-size: 20px;
				margin: 0;
				padding: 10px 0 10px 5px;
			}
			.lOne, .lTwo, .lThree {
				text-align: center;
				font-size: 16px;
				width: 33%;
				color: #000;
				float: left;
				margin: 0;
			}
		}
		#question:nth-child(even) {
			background-color: #fff;
		}
		#sp_question {
			height: 125px;
			padding: 5px 0 0 0;
			width: 33.3%;
			float:left;
			h3 {
				text-align: left;
				font-size: 20px;
				margin: 0;
				padding: 10px 0 10px 5px;
			}
			.lOne, .lTwo, .lThree {
				text-align: center;
				font-size: 16px;
				width: 33.3%;
				color: #000;
				float: left;
				margin: 0;
			}
		}
		#sp_question:nth-child(even) {
			background-color: #fff;
		}
	}
}
#submit {
	text-align: center;
	input[type="submit"]  {
		background-color: #33cc77;
		color: #fff;
		width: 150px;
		height: 55px;
		cursor: pointer;
		font-size: 24px;
	}
}
#eval_skills {
	#new_employee_skill {
		text-align: center;
		padding: 9px 0 9px 0;
		background-color: inherit;
		select{
			width: 275px;
			height: 54px;
			font-size: 25px;
			padding-left: 5px;
			border: 1px solid #fff;
		}
		input[type="submit"]  {
			background-color: #33cc77;
			color: #fff;
			width: 275px;
			height: 55px;
			cursor: pointer;
			font-size: 24px;
		}
	}
}
#e_overview {
	width: 100%;
	height: 100%;
	h1 {
		font-size: 35px;
		margin:0;
		text-align: center;
		background-color: #fff;
		padding: 10px 0 60px 0;
	}
	.addskill, .finish {
		float: left;
		margin: 0;
		text-align: center;
		a {	
			width: 100px;
			margin: 0;
			height: 38px;
			cursor: pointer;
			font-size: 20px;
			text-decoration: none;
			color: #fff;
		}
	}
	.addskill {
		background-color: #33cc77;
		padding: 14px 30px 13px 30px;
		position: absolute;
		left: 465px;
		top: 85px;
	}
	.finish {
		background-color: #242424;
		padding: 14px 50px 13px 50px;
		position: absolute;
		left: 638px;
		top: 85px;
	}
}