// Place all the styles related to the positions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#positions{
	height: 100%;
	width: 100%;
	.topleft, .topmid, .topright, .botleft, .botright {
		float: left;
		border-bottom: 1px solid #fff;
		overflow-y: scroll;
		h2{
			margin: 0;
			background-color: #f95252;
			padding: 10px 0 10px 0;
			width:100%;
			color: #fff;
			border-top: 1px solid #fff;
		}
		p {
			margin: 0;
			padding: 5px 0 0 20px;
			float: left;
			font-size: 14px;
		}
	}
}
.topleft {
	width: 20%;
	height: 25%;
	p {
		width: 42%;
	}
}
.topmid, .topright {
	width: 35%;
	height: 25%;
	p {
		width: 45%;
	}
}
.botleft, .botright  {
	width: 45%;
	height: 60%;
	p {
		width: 46%;
	}
}
.topleft, .topright, .botright {
	background-color: #fff;
}
.botleft, .topmid {
	background-color: #F3F9FB;
}
#new_position {
	text-align: center;
	background-color: #313030;
	height: 100%;
	input[type="text"] {
		border: 1px solid #fff;
		width: 228px;
		height: 50px;
		font-size: 25px;
		padding-left: 5px;
		margin-top: 5px;
	}
	input[type="submit"]  {
		background-color: #33cc77;
		color: #fff;
		width: 228px;
		height: 55px;
		cursor: pointer;
		font-size: 24px;
	}
	select{
		width: 228px;
		height: 54px;
		font-size: 25px;
		padding-left: 5px;
		border: 1px solid #fff;
	}
}