body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
#supportnavi{
	width: 10%;
	height: 100%;
	margin: 0;
	float: left;
	background-color: #313030;
	ul{
	    list-style-type: none;
   		margin: 0;
    	padding: 0;
    	border-top: 1px solid white;
    	li{
    		width: 100%;
    	}
		a{
		    display: block;
    		color: white;
    		text-decoration: none;
    		padding: 15px 0 15px 5px;
    		font-size: 18px;
    		font-weight: bold;
    		border-bottom: 1px solid #fff;
		}
		.current{
		    background-color: #6f6b6b;
		}
		li:hover{
		    background-color: #6f6b6b;
		}
	}
}
#search {
	padding-bottom: 5px;
	input#search {
		width: 210px;
		height: 30px;
		font-size: 16px;
	}
	input[type="submit"]  {
		background-color: #242424;
		color: #fff;
		width: 170px;
		height: 45px;
		cursor: pointer;
		font-size: 16px;
	}
	a {
		background-color: #f95252;
		color: #fff;
		width: 100px;
		padding: 14px 10px 13px 10px;
		margin: 0;
		height: 38px;
		cursor: pointer;
		font-size: 16px;
		text-decoration: none;
	}
}
#emp_indy_listing{
	width: 100%;
	height: 100%;
	border-top: 1px solid black;
	overflow-y: scroll;
	#indy_list{
		width: 20%;
		height: 120px;
		float:left;
		border-bottom: 1px solid black;
		.emp_name, .detail_name, select {
			margin: 0;
			padding: 5px 5px 0 5px;
		}
		.emp_name {
			font-size: 22px
		}
		.detail_name {
			font-size: 16px;	
		}
		select {
			height: 50px;	
		}
	}
}
#emp_listing{
	width: 100%;
	height: 76%;
	border-top: 1px solid black;
	overflow-y: scroll;
	#indy_list{
		width: 20%;
		height: 120px;
		float:left;
		border-bottom: 1px solid black;
		.emp_name, .detail_name {
			margin: 0;
			padding: 5px 5px 0 5px;
		}
		.emp_name {
			font-size: 22px
		}
		.detail_name {
			font-size: 16px;
			
		}
	}
}
#indy_list:nth-child(odd){
	background-color: #fff;
}