// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#skills{
	height: 100%;
	width: 100%;
	h2{
		margin: 0;
		background-color: #f95252;
		border-top: 1px solid #fff;
		padding: 10px 0 10px 0;
		width:100%;
		color: #fff;
	}
	.leftside, .rightside{
		width: 45%;
		height: 85%;
		float: left;
		border-bottom: 1px solid #fff;
		p {
			margin: 0;
			padding: 5px 0 0 18px;
			width: 30%;
			float: left;
			font-size: 18px;
		}
	}
	.leftside{
		background-color: #fff;
	}
	.rightside{
		background-color: #F3F9FB;
	}
	#new_skill {
		text-align: center;
		background-color: #656464;
		height: 100%;
		input[type="text"] {
			border: 1px solid #fff;
			width: 228px;
			height: 50px;
			font-size: 25px;
			padding-left: 5px;
			margin-top: 5px;
		}
		input[type="submit"]  {
			background-color: #33cc77;
			color: #fff;
			width: 228px;
			height: 55px;
			cursor: pointer;
			font-size: 24px;
		}
		select{
			width: 228px;
			height: 54px;
			font-size: 25px;
			padding-left: 5px;
			border: 1px solid #fff;
		}
	}
}